To test partial fit, we make a training data that is half the size of the original

In [5]:
import pandas as pd

In [6]:
train_data = pd.read_csv("exported_data/train_data.csv")
train_data.head()

   userID   itemID  rating     genre
0   13538  9738663       1   Erhverv
1   13538  9738569       1   Erhverv
2   13538  9738490       1   Erhverv
3   13538  9738667       1   Erhverv
4   13538  9738528       1  Livsstil

In [7]:
# Get half of the rows
half_rows = int(len(train_data) / 2)
new_df = train_data.sample(n=half_rows, random_state=42)  # Set random_state for reproducibility

# Display the first few rows of the new DataFrame
new_df.head()

          userID   itemID  rating         genre
3604570   543192  9773248       0  Kriminalitet
829952   1436006  9773018       0         Kendt
2295263   318801  9763668       1    Begivenhed
2939146  1162980  9769341       0         Kendt
105927     87106  9764008       1    Katastrofe

In [8]:
# Print the number of rows in train_data and new_df
print("Number of rows in train_data:", len(train_data))
print("Number of rows in new_df:", len(new_df))

Number of rows in train_data: 3845089
Number of rows in new_df: 1922544

In [9]:
# Specify the file path where you want to save the CSV file
file_path = "exported_data/train_data_half.csv"

# Save the final_data dataframe to a CSV file
new_df.to_csv(file_path, index=False)

print("Data saved to", file_path)

Data saved to exported_data/train_data_half.csv